@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}
h1{
    padding: 10px;
    font-size: 30px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box{
    width: 50rem;
    border: 1px solid var(--grey);
    padding: 1rem;
    background: radial-gradient(465px at -15.1% -25%, rgb(17, 130, 193) 0%, rgb(67, 166, 238) 49%, rgb(126, 203, 244) 90.2%);
    color: var(--black);
    text-align: center;
    border-radius: 10px;
}
.box > *{
    margin-bottom: 4rem;
}
.count{
    font-size: 5rem;
    font-weight: 600;
    
}
.button button{
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
button.subtract{
    background-color: #db6400;
}
button.reset{
    background-color: #fff;
    color: #1c2b2d;
}
button.add{
    background-color: #12c12a;
    color: #222831;
}
button.subtract:hover{
    background-color: #f16f05;
}
button.reset:hover{
    background-color: #f3f0f0f8;
    color: #1c2b2d;
}
button.add:hover{
    background-color: #16de31;
    color: #222831;
}